* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    background: var(--yellow);
    color: var(--gray-950);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: auto;
}

.card {
    width: 30%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1.25rem;
}